/* .line-styling {
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 50px;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
.style-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ad1457;
}
.style-line {
  background-color: #ad1457;
  width: 95%;
  height: 5px;
  border-radius: 10px;
}
.about-heading {
  font-size: 3.3rem;
  margin-bottom: 30px;
  color: #ad1457;
  font-weight: bold;
}
.about-img {
  width: 400px;
  height: 400px;
}
